//Colors
$blue: #00a1de;
$active-indicator: #00a1de;
$title-color: #005b82;
$sub-color: #003145;
$option-color: #b9b9b9;

// Sizing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;


$animation-action: opacity .4s ease-in;

$desktop-breakpoint: 45rem;
